.feed {
    margin: calc(var(--grid-padding) * -1);
}

.feed__icon {
    background-image: url('/images/svg/twitter.svg');
}

.feed-item {
    margin-bottom: var(--grid-gap);
    padding: var(--grid-gap);
    border-radius: 0.25vw;
    background-color: var(--white);
    word-break: break-word;
}

.feed-item--instagram {
    margin-bottom: var(--grid-gap);
    padding: 0;
    border-radius: 0.25vw;
    background-color: var(--white);
    word-break: break-word;
}

.feed-item--quoted {
    margin-top: var(--grid-gap);
    padding: var(--grid-gap) 0;
    border-top: dotted 2px rgba(255, 255, 255, 0.15);
}

.feed-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.feed-item__user {
    min-width: 0;
}

.feed-item__user__handle {
    color: var(--gray-dark);
    font-size: var(--font-size-xxs);
}

.feed-item__user__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxs);
    filter: grayscale(1);
}

.feed-item__avatar {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 0.5vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.feed-item__body--default {
    font-size: var(--font-size-s);
}

.feed-item__body--small {
    font-size: var(--font-size-xxs);
}

.feed-item__body--medium {
    font-size: var(--font-size);
}

.feed-item__body--large {
    font-size: var(--font-size-m);
}

.feed-item__body__handle {
    font-weight: var(--font-weight-black);
}

.feed-item__body__hashtag {
    color: var(--gray-dark);
}

.feed-item__body--instagram {
    padding: .5em var(--grid-gap) .75em;
    font-size: var(--font-size-xxs);
    color: var(--gray-dark);
}

.feed-item__attachment {
    overflow: hidden;
    margin-top: var(--grid-gap);
    text-align: center;
    opacity: 0.75;
}

.feed-item__attachment--instagram {
    border: solid .5vw var(--white);
}

.feed-item__attachment__image {
    max-width: 100%;
    max-height: 15vh;
    border-radius: 0.25vw;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.feed-item__attachment__image--instagram {
    max-width: 100%;
    max-height: auto;
    border-radius: 0.15vw 0.15vw 0 0;
    vertical-align: middle;
}

.feed-item__meta {
    margin-top: 0.5vw;
    color: var(--gray-dark);
    font-size: var(--font-size-xxs);
}
