.statistic {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: var(--font-size-s);
}

.statistic__label {
    text-transform: uppercase;
    font-size: var(--font-size-xs);
}

.statistic__stars {
    background-image: url('/images/svg/star.svg');
}

.statistic__count {
    color: var(--red);
    vertical-align: top;
    white-space: nowrap;
    font-weight: var(--font-weight-black);
}
